.bodyMessage {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonClass {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
}

.buttonClass:hover,
.buttonClass:active {
  background: #741188;
  border-color: #741188;
}

.buttonClass:focus {
  outline: none;
}

.infoText {
  text-align: center;
  font-size: 80px;
  height: 100vh;
  color: white;
}
